.main__archive {
  background-color: #000;
  max-width: 1440px;
  color: #fff;
  margin: 0 auto;
  padding: 60px 20px;
}
.main__archive__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.archive-title {
  font-size: 50px;
  font-weight: 700;
}
.archive__searchByDate-tooltip {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 20px;
}
.archive__searchByDate-selects {
  display: flex;
  justify-content: space-between;
}
.archive__searchByDate-selects select {
  font-size: 16px;
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 25px;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0px 20px;
}
.main__archive__body{
  height: 100%;
  margin-bottom: 30px;
}
.main__archive__body-container{
  display: grid;
  grid-template-columns: repeat(4, 350px);
  justify-items: center;
}
.archive__navigation{
  display: flex;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.archive__navigation-date-range{
  font-weight: 300;
  font-size: 16px;
}
.archive__navigation-arrows{
  cursor: pointer;
  transition-duration: .3s;
  padding: 10px;
}