.archive-card {
  width: 300px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  margin-bottom: 20px;
  height: fit-content;
}
.archive-card-img {
  width: 100%;
  max-height: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 10px;
}
.archive-card-content {
  padding: 10px;
}
.archive-card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.archive-card-date {
  font-size: 14px;
  font-weight: 300;
}
